hr{
	height: 10px;
	background-color: black;
	border-radius: 50px;
}
#rbk{
	width: 150px;
border-radius: 70px;
height: 150px
}

#slack{
width: 150px;
border-radius: 70px;
height: 150px
}

#tomato{
	width: 150px;
border-radius: 70px;
height: 150px
}

#emotion{
	width: 150px;
border-radius: 70px;
height: 150px
}

iframe{
	width: 100%;
height: 500px
}


